= form_for [ "admin", @page ] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title, class: "form-control"
  %p
    = f.label :body
    = f.cktext_area :body
  %p
    = f.label :slug
    = f.text_field :slug, class: "form-control"
  %p
    =f.label :category_id
    =f.select :category_id, Category.all.map { |category| [ category.name, category.id] }, class: "form-control"
  %p
    = f.submit 'Save'
