%h1 Listing pages

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Slug
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.title
        %td= page.body
        %td= page.slug
        %td= link_to 'Show', admin_page_path(page)
        %td= link_to 'Edit', edit_admin_page_path(page)
        %td= link_to 'Destroy', admin_page_path(page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_admin_page_path
